form{
    box-sizing: border-box;
    padding:20px;
    box-shadow:0px 0px 2px 2px rgb(215, 210, 210);
}

.navbar-brand{
    color:#fff;
}

.location-link{
    color:rgb(163, 160, 160);
    cursor:pointer;
}

.location-link:hover{
    text-decoration:none;
}

.btn-delete-all{
    margin-bottom:20px;
}

